.inputbr {
  position: relative;
  left: 20%;
  width: 75%;
}
#srcinpt {
 width: 50%;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}
#map-canvas {
  width: 100%;
  height: 100%;
}
.gm-style-iw {
  text-align: center;
}
#map-canvas {
    margin-top: 0%;
    border-style: groove;
    border-width: 10px;
    border-color: whitesmoke;
}
.card {
  background-color: whitesmoke;
  color: grey;
  margin: auto;
} 
.ctycrd {
  width: 150px;
  height: 100%;
  background-color: whitesmoke;
  color: gray;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 70px 0px;
}

#temp {
font-size:  25px;
margin-top: 5px;
color: rgb(89, 98, 105);
}
.wfmode {
position: relative;
right: 25%;
background-color: whitesmoke;
color: gray;
width: 150%;
}
.card-body {
width: 180px;
height: 150px;
padding-top: 25%;
}